
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="~/Content/datetimepicker.css"/>
</head>
<body ng-app="PhoneBookApp">
<div class="container wrapper" ng-controller="phoneBookController">
    <h1 class="text-center">Контакты</h1>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="alert alert-default navbar-brand search-box">
                <label class="btn btn-sm btn-primary" title="Загрузить файл в формате *.csv">
                    <i class="glyphicon glyphicon-upload"></i>
                    Загрузить
                    <input type="file" accept=".csv" onchange="angular.element(this).scope().importFile(this.files)" style="display: none;">
                </label>
                <button type="button" ng-click="exportFile()" title="Скачать файл в формате *.csv" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-download"></i>
                    Скачать
                </button>
            </div>
            <div class="alert alert-default input-group search-box">
                <span class="input-group-btn">
                    <input type="text" class="form-control" placeholder="Поиск в контактах..." ng-model="search_query">
                </span>
            </div>
        </div>
    </nav>
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal alert alert-warning" name="contact_edit" id="contactForm" hidden>
            <h3 class="text-center">Редактирование контакта</h3>
            <div class="form-group">
                <label for="Name">Фамилия:</label>
                <input type="text" name="contact_name" class="form-control" placeholder="Введите фамилию" ng-model="currentContact.FullName" autofocus required/>
            </div>
            <div class="form-group">
                <p class="text-danger" ng-show="contact_edit.contact_name.$invalid && contact_edit.contact_name.$dirty">Name field is Empty!</p>
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" name="contact_email" class="form-control" placeholder="Введите email:" ng-model="currentContact.Email" autofocus required/>
            </div>
            <div class="form-group">
                <p class="text-danger" ng-show="contact_edit.contact_email.$invalid && contact_edit.contact_email.$dirty">Invalid Email!</p>
            </div>
            <div class="form-group">
                <label for="Phone">Телефон:</label>
                <input type="text" name="contact_phone" class="form-control" placeholder="Введите телефон:" ng-model="currentContact.Phone" autofocus required/>
            </div>
            <div class="form-group">
                <p class="text-danger" ng-show="contact_edit.contact_phone.$invalid && contact_edit.contact_phone.$dirty">Phone field is Empty!</p>
            </div>
            <div class="form-group">
                <label for="BirthDate">День рождения:</label>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="currentContact.BirthDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="currentContact.BirthDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }" />
                    </ul>
                </div>


                @*<input type="text" date-time format="DD MMM YYYY" view="days" min-view="hours" name="contact_birthdate" class="form-control" placeholder="Введите день рождения:" ng-model="currentContact.BirthDate" autofocus required/>*@
            </div>
            
            <div class="form-group">
                <p class="text-danger" ng-show="contact_edit.contact_birthdate.$invalid && contact_edit.contact_birthdate.$dirty">BirthDate field is Empty!</p>
            </div>
            <div class="form-group">
                <button class="btn btn-warning" ng-click="save(currentContact);" ng-disabled="contact_edit.$invalid">Сохранить</button>
                <button class="btn btn-warning" ng-click="disable()">Отмена</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>День рождения</th>
                <th>Телефон</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="row in contacts|filter:search_query">
                <td>{{row.Id}}</td>
                <td>{{row.FullName}}</td>
                <td>{{row.BirthDate | date}}</td>
                <td>{{row.Phone}}</td>
                <td>{{row.Email}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="editContact(row)" title="Редактировать контакт"><span class="glyphicon glyphicon-edit"></span></button>
                </td>
                <td>
                    <button class="btn btn-warning" ng-click="deleteContact(row)" title="Удалить контакт"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/datetimepicker.templates.js"></script>
<script src="~/static/phoneBookApp.js"></script>
<script src="~/static/factory/phoneBookFactory.js"></script>
<script src="~/static/controllers/phoneBookController.js"></script>
</body>
</html>